.ourTequilasContainer {
  height: 700px;
  width: 100%;
  position: absolute;
  top: 67px;
  background-color: black;
  color: white;
  font-family: 'adobe-caslon-pro', serif;
}

.ourHeader {
  text-align: center;
  width: 20rem;
  height: 6em;
  margin: 0 auto;
  padding-top: 2em;
}

.ourHeader h1 {
  text-align: center;
  font-size: 25px;
  margin: 0;
  width: 20rem;
  color: white;
}



.ourBottleHeader {
  height: 50px;
  text-align: center;

}

.ourBottleHeader hr {
  width: 30%;
  float: left;
  margin-top: 25px;
}

.lineleft {
  margin-left: 6%;
}

.ourBottleHeader .label {
    text-align: center;
    height: 50px;
    width: 10rem;
    padding: 0;
}

.ourBottleHeader h1 {
  text-align: center;
  padding-top: .75em;
  margin: 0;
  clear: left;
  clear: right;
  font-size: 20px;
}

.tequilaContainer, .middleContainer, .bottomContainer {
  margin-bottom: 1em;
  text-align: center;
}

.tequilaContainer img, .middleContainer img, .bottomContainer img {
  height: 100px;
  width: 100px;
}

.tequilaContainer img {
  margin-right: 26.5%;
}

.tequilaContainer button {
  margin-left: -3%
}

.middleContainer img {
  margin-left: 10%;
}

.middleContainer button {
  margin-right: 8%;
}

.bottomContainer img {
  margin-right: 30%;
}

.bottomContainer button {
  margin-left: -3%;
}
