.whereContainer {
  height: 655px;
  width: 100%;
  font-family: 'adobe-caslon-pro', serif;
  position: absolute;
  top: 67px;
  background-color: black;
}

.headContainer {
  text-align: center;
  width: 20rem;
  height: 6em;
  margin: 0 auto;
  padding-top: 2em;
}

.headContainer h1 {
  text-align: center;
  font-size: 25px;
  margin: 0;
  width: 20rem;
  color: white;
}
