.whereContainer {
  height: 740px;
  width: 100%;
  font-family: 'adobe-caslon-pro', serif;
  position: absolute;
  top: 67px;
  background-color: black;
}

.headContainer {
  text-align: center;
  width: 20rem;
  height: 6em;
  margin: 0 auto;
  padding-top: 2em;
}

.headContainer h1 {
  text-align: center;
  font-size: 25px;
  margin: 0;
  width: 20rem;
  color: white;
}

.leftLine {
  margin-left: 2.95rem;
}

.icon {
  height: 30px;
  width: 30px;
}

.icon img {
  height: 100%;
  width: 100%;
}

.iconMiddle {
  padding: 0;
  height: 30px;
}

.nearForm {
  margin-top: 4.25em;
}

.nearForm input {
  text-align: center;
  width: 59%;
  height: 20px;
  border: 1px solid black;
}

.nearForm button {
  height: 20px;
  width: 59%;
  font-size: 10px;
  border: 1px black solid;
  text-align: center;
}
